table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:700px;
    text-align:center;
    margin-left:50px;
}
    
th{
    
       
        background-color: #04AA6D;
        color: white;
}
table{
    margin-top: 40px;
    height: 300px;
}
tr{
    background-color:azure;
}
tr:hover{
    background-color:darkolivegreen;
}