.div1
    {
       height: 10px;
       background-color: black;
       margin-top: -20px;
       width:auto;
       
    }
.nav
{
    background-color:#3aa9d2;
    height: 30px;
} 
.nav2
{
    
    background-color:black;
    color:white;
    height: 50px;
    text-align: center;
}     
a{
    text-decoration: none;
    color: white;
    padding: 5px;
    
}

.foot
{
    background-color:#3aa9d2;
    height: 5px;
} 
.foot2
{
    background-color:black;
    height: 20px;
    color: white;
    text-align: center;
} 