h1
{
    color: red;
    text-align: center;
}
h2{
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}
.div1
{
float: left;
}
.div2
{
float: left;
margin-left: 10px;

}
.div3
{
float: left;
margin-left: 10px;
}
.div4
{
    float: left;
    margin-left: 10px;
}
.div5
{
    float: left;
    margin-top:10px;
    
}
.div6
{
    float: left;
    margin-top:10px;
    margin-left: 10px;
}
.div7
{
    float: left;
    margin-top:10px;
    margin-left: 10px;
}
.div8
{
    float: left;
    margin-top:10px;
    margin-left: 10px;
}
div{
padding : 1%;
color: white;
background-color: black;
width:275px;
margin-left: 15px;

}
img{
    width:280px;
    height: 300px;
    margin-left:-3px;
}